nav{
  background-color: rgb(172, 214, 255);
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;  
  overflow: hidden;
}

nav ul li {
  float: right;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #ffffff;
} 