@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(menu.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    min-height: 20%;
    background: rgb(118, 168, 224);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 850px;
    height: 550px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 2);
}

.form-box{

}